body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffe4ec;
  text-align: center;
}

/* NAVBAR */
header {
  background: white;
  padding: 15px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

/* HERO */
#home {
  padding: 40px 20px;
}

/* SECTIONS */
section {
  padding: 30px 20px;
}

/* BUTTON */
button {
  background: #c2185b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}

/* MOBILE */
@media (max-width: 600px) {
  nav {
    display: block;
  }
}